main{
    position: relative;
    padding-left: 15px;
    padding-bottom: 175px ;
}
.title{
    margin-top: 70px;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}
.mobile-unicorn{
    display: block;
    margin: 70px auto;
}
.content{
    display: inline-flex;
    flex-direction: column;
}
.more{
    display: block;
    width: 120px;
    height: 120px;
    padding: 36px 10px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 700;

}
.more img{
    margin-top: 10px;
}
.text{
    width: 50%;
    font-weight: 600;
}
.flex{
    display: flex;
    margin-top: 50px;
}
.big-unicorn{
    display: none;
     margin-left: 15px ; 
    max-width: 786px;
}

.main-social{
    display: none;
}


@media screen and (min-width: 768px)  {
    .mobile-unicorn{
        display: none;
        margin-left: 100px;
    }
    .big-unicorn{
        display: block;
        margin: auto;
    }
    .content{
        flex-direction: row;
    }
    .title{
        font-size: 72px;
    }
    .text{
        font-size: 24px;
        margin-left: 30px;
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px)  {
    .text{
        width: 30% ;
    }
    .big-unicorn{
        position: absolute;
        top: -50px;
        left: 50%;
        width: 50%;
    }
    .title{
        margin-left: 56px;
}
    .content{
        position: relative;
        top: 120px;
        left: 120px;
        width: 90%;
    }
    .main-social{
        margin-left: 56px;
        position: relative;
        top: -120px;

    }
}